// 颜色定义规范
//$color-background = rgba(0, 0, 0, 0.3)
$color-background = #01202b
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = rgba(1, 36, 47, 1)
$color-dialog-background = rgba(102, 102, 102, 0.3)
$color-theme =  #2fd9ad   // #3ac07a
$color-theme-d = rgba(47, 217, 173, 0.3)    // rgba(255, 205, 49, 0.3)
$color-sub-theme = #d93f30
$color-text = #F1F1F1
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small-m = 11px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
